.dropdown {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	z-index: 1;
}

.dropdown:hover * {
	opacity: 1;
	visibility: visible;
	pointer-events: visible;
}

.dropdown__optionsArea {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	opacity: 0;
	width: fit-content;
	background-color: var(--green);
	padding: 0 1rem;
	border: 0.1rem solid;
	pointer-events: none;
	visibility: hidden;
}

.dropdown__option {
	cursor: pointer;
}
