.informationBox {
	display: flex;
	flex-direction: column;
	background-color: var(--yellow);
	padding: 1rem;
}

.informationBox__header {
	align-self: center;
	padding-top: 0rem;
	margin-top: 0;
}

.informationBox__separator {
	border-bottom: 0.1rem solid;
	width: 30%;
	align-self: center;
}
