.textBoxWithImage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	height: 10rem;
}

.textBoxWithImage * {
	border-radius: 0;
}
.textBoxWithImage-top {
	flex-direction: column;
}
.textBoxWithImage-right {
	flex-direction: row-reverse;
}
.textBoxWithImage-bottom {
	flex-direction: column-reverse;
}
.textBoxWithImage-left {
	flex-direction: row;
}
.textBoxWithImage__image {
	height: 100%;
	flex: 1;
}
.textBoxWithImage__headerContainer {
	display: flex;
	justify-content: center;
	background-color: var(--green);
	align-items: center;
	flex: 3;
	height: 100%;
}
.textBoxWithImage__header {
	font-style: italic;
}
