.cottonOrAcrylic {
}
.cottonOrAcrylic__paragraph {
	margin: 1rem 0;
}
.cottonOrAcrylic__h2 {
}
.cottonOrAcrylic__list {
	padding: 1rem 2rem;
}
.cottonOrAcrylic__listElement {
}
.cottonOrAcrylic__h3 {
	font-style: italic;
	margin-bottom: 1rem;
}
