.buttonWithImage {
	height: 15rem;
	width: 30rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.buttonWithImage__linkContainer {
	background-color: transparent;
	padding: 1rem;
	border: 0.1rem solid grey;
	transition-duration: 0.25s;
	backdrop-filter: blur(1px);
}
.buttonWithImage__linkContainer:hover {
	background-color: grey;
	border-color: white;
}
.buttonWithImage__linkContainer:hover * {
	color: white;
}
.buttonWithImage__linkString {
	transition-duration: 0.25s;
	text-decoration: none;
	color: grey;
}
