.contact {
}
.contact__mainContainer {
	display: flex;
	background-color: var(--green);
	padding: 1rem;
}
.contact__mainContainer-left {
	flex: 1;
}
.contact__mainContainerHeading {
	flex: 1;
	font-size: larger;
	font-style: italic;
	margin: 1rem 0;
}
.contact__mainContainerContent {
	margin: 1rem 0;
}
.contact__mainContainer-right {
}
