.footer {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	padding: 1rem;
	margin: 1rem;
	border-radius: 0;
	border-top: 0.1rem solid;
}

.footer * {
	height: 4rem;
	width: 4rem;
}

.footer__header {
	width: 100%;
	height: fit-content;
}

.footer__headerLogoContainer,
.footer__headerLogo {
	width: auto;
	height: auto;
}
