* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: transparent;
	background-color: transparent;
	transition: all 0.5s ease;
}

*:focus {
	/* Prevents the blue square from appearing when focused */
	outline: none;
}

body {
	background-color: var(--background_color-translucent);
	display: flex;
	justify-content: center;
	transition: ease-in-out 0.5s;
}

.App {
	background-color: var(--background_color);
	width: 50vw;
	height: fit-content;
	min-width: 30rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.mainContent {
	padding: 0 2rem;
}

:root {
	--background_color: rgb(231, 240, 216);
	--background_color-translucent: rgba(231, 240, 216, 0.7);
	--green: rgb(189, 214, 149);
	--yellow: rgba(240, 187, 103, 0.5);
}
